body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.left {
    font-size: 20px;
}

.right ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.right ul li {
    display: inline;
    margin-left: 38px;
}

.right ul li a {
    color: #fff;
    text-decoration: none;
}

.main-content {
    max-width: 800px;
    margin: 20px auto;
}

.contact-container {
    display: flex;
    justify-content: space-between;
}

.contact-form {
    flex-basis: 45%;
    margin-left: -90px;
}

.contact-form h2 {
    margin-bottom: 20px;
}

.contact-form label {
    display: block;
    margin-bottom: 10px;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form input[type="tel"],
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #555;
}

.contact-details {
    flex-basis: 45%;
    padding-left: 70px;
    border-left: 1px solid #ccc;
}

.contact-details h2 {
    margin-bottom: 20px;
}

.contact-details p {
    margin-bottom: 10px;
}
#foot{
    margin-top: 135px;
}
.footer{
    margin-top: 10px;
}
.footer-content {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
