body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.left {
    font-size: 20px;
}

.right ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.right ul li {
    display: inline;
    margin-left: 38px;
}

.right ul li a {
    color: #fff;
    text-decoration: none;
}

.main-content {
    max-width: 800px;
    margin: 20px auto;
    text-align: center;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
}

.project {
    text-align: left;
    border: 1px solid #ddd;
    padding: 20px;
}

.project img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.footer-content {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
