 body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.left {
    font-size: 20px;
}

.right ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.right ul li {
    display: inline;
    margin-left: 38px;
}

.right ul li a {
    color: #fff;
    text-decoration: none;
}



.main-content {
    max-width: 800px;
    margin: 20px auto;
    text-align: center;
}

.skills {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    justify-content: center;
}

.skill {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.skill img {
    max-width: 100px;
    margin-bottom: 10px;
}



.footer-content {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
} 


